@page "/registeruser"
@inject HttpClient Http
@inject NavigationManager Navigation
@code {
    private OnlineLibrary.Blazor.Models.UserRegistrationDto _user = new();
    private string errorMessage = string.Empty;

    private async Task RegisterUser()
    {
        var response = await Http.PostAsJsonAsync("api/Users/register", _user);
        if (response.IsSuccessStatusCode)
        {
            await RedirecttoLogin();
        }
        else
        {
            errorMessage = "an error occured";
        }
    }
    private async Task RedirecttoLogin()
    {
        Navigation.NavigateTo("/login");
    }
}

<h3>Register</h3>
<EditForm Model="_user" OnValidSubmit="RegisterUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>Username: </label>
        <InputText @bind-Value="_user.Username" />
    </div>
    <div>
        <label>Email: </label>
        <InputText @bind-Value="_user.Email" />
    </div>
    <div>
        <label>Password: </label>
        <InputText InputType="password" @bind-Value="_user.Password" />
    </div>
    <button type="submit">Register</button>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="error-message">
        @errorMessage
    </div>
}